body {
    margin: 0;
    background: #000000;
    font-family: 'Noto Sans', 'Times New Roman', sans-serif;
}

h1 {
    text-align: center; 
    font-size: 40px;
    padding-top: 10px;
    background: -webkit-linear-gradient(#660066, #6600cc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    text-align: center; 
    font-size: 20px;
    color: white;
}

h3 {
    font-family: 'Times New Roman', serif;
    color: red;
    font-size: 1em;
}

canvas {
	display: block;
	margin: auto;
}


.pause-menu{
	display: none;

	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

}
	.background{
		background: rgba(255, 255, 255, .5);
	}
	
.menu-container{
	margin: 0 auto;
	margin-top: 28px;
	width: 312px;
}
	.menu-button{
		margin-top: 16px;

		cursor: pointer;

		width: 100%;

		background: #13181d;

		text-align: center;
		line-height: 32px;
		color: #FFFFFF; 

		transition: all ease-out .25s;
	}

	.menu-button:hover{
		background: green;

		transition: all ease-out .25s;
	}
	
	.menu-input{
		margin-top: 16px;

		width: 100%;

		text-align: center;
		line-height: 32px;
		color: #000000; 

		transition: all ease-out .25s;
	}
	
	.menu-message {
		color: #FFFFFF;
		background: #000000;
		
		border-radius: 4px;
		
		text-align: center;
		
		padding: 10px;
	}